h1 {
    color: #333;
    font-size: 20px;
    font-family: Verdana;
}

h2 {
    color: #666;
    font-size: 16px;
    font-family: Verdana;
}

p {
    color: #000;
    font-size: 12px;
    font-family: Verdana;
}

li {
    color: #000;
    font-size: 12px;
    font-family: Verdana;
}

img {
    width: 300px;
    height: 225px;
}

#enlaces {
    color: blue;
    font-size: 12px;
}